# Maven
target/
*.jar
*.war
*.zip
*.tar.gz
*.rar

# IDEs and Editors
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific ignored folders
models/
faces/
*.onnx

# OS files
Thumbs.db
db.json
.DS_Store

# Local application logs
*.log
logs/

# Custom dev scripts and docs
test_client.html
restart.bat
FaceAuth_Postman_Collection.json
cpu_only_face_authentication_system_step_1_complete_architecture.md
changes.md
faces_dataset/*
faces_dataset/enroll/*
faces_dataset/test/*